@use "sass:math";
@use "sass:color";
@use "sass:list";

@use 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'luckiest_guyregular';
    src: url('~/static/fonts/luckiestguy-regular-webfont.woff2') format('woff2'),
         url('~/static/fonts/luckiestguy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'boogalooregular';
    src: url('~/static/fonts/boogaloo-regular-webfont.woff2') format('woff2'),
         url('~/static/fonts/boogaloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('~/static/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('~/static/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$breakpoints: (
    "s": 640px,
    "m": 768px,
    "l": "1024px",
    "xl": "1280px"
);

@mixin breakpoint($breakpoint-size) {
    $min-width: map-get($breakpoints, $breakpoint-size);
    @media (min-width: $min-width) {
        @content
    }
}

$slate: lighten(#c1caca, 20%);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main
{
	height: auto;
    font-size: 14px;
    font-family: 'boogalooregular', 'sans-serif', 'serif';
}

main {
    position: relative;
    overflow-x: hidden;
    padding-bottom: 100px;
    overscroll-behavior: none; //https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
}

main::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $slate;
    position: relative;
}

p {
    font-size: 1.8rem;

    @include breakpoint('m') {
        font-size: 2.5rem;
    }

    @include breakpoint('l') {
        font-size: 3.3rem;
    }
}

:root {
    --hero-subtitle-tY: -20px;
    --hero-title-up-tY: 50px; 
}

@include breakpoint('l') {
    :root {
        --hero-subtitle-tY: -50px;
        --hero-title-up-TY: 110px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: transparent;
    z-index: 11;
    padding: 10px;
    margin: 0 20px;

    @include breakpoint('m') {
        top: 0;
    }
}

.header__logo {
    font-size: 40px;
}

.header__control,
.up {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 0 5px;
    background-color: $slate;
    outline: none;
    
    &:hover {
        cursor: pointer;
    }
}

.hero {
    // position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: $slate;
    // transition: 1.3s transform cubic-bezier(0.39, 0.575, 0.565, 1) 2.1s;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 30px;
    background-color: orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(100%, 0);
    z-index: 10;
    transition: 0.7s transform cubic-bezier(0.445, 0.05, 0.55, 0.95);

    @include breakpoint('m') {
        padding: 100px;
    }
}

.menu--is-open{
    transform: translate(0, 0);
}

.menu__wrapper {
    width: 100%;
}

.menu__content {
    position: relative;
    width: 100%;
}

.weather__controls {
    text-align: right;
}

.weather__control {
    font-family: 'robotothin', 'sans-serif', 'serif';
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid white;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.hero__title {
    display: block;
    font-family: 'luckiest_guyregular', 'Helevetica', 'sans-serif', 'serif';
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 20px; // offset for subtitle translateY for vertical centering

    @include breakpoint('l') {
        font-size: 4.5rem;
        margin-top: 50px;
    }
}

.hero br {
    display: block;
    content: "";
    margin: 0;
}

.hero .hero__title-base {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.hero.is-visible .hero__title-base {
    animation: 0.7s revealTitleBase linear 0.5s forwards;
}

@keyframes revealTitleBase {
    0% {
        transform: translateY(-15px);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.hero__title-only {
    font-size: 4.5rem;
    margin: 0 10px;
    transition: color 0.75s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-delay: 0.8s;
    will-change: color;
    
    @include breakpoint('l') {
        font-size: 7.5rem;
        margin: 0 25px;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(-10deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0);
    }
}

.hero.is-visible .hero__title-only {
    color: teal;
    animation: wiggle 0.5s linear 1.25s;
}

.hero__subtitle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translate(15px, var(--hero-subtitle-tY));
    
    @include breakpoint('l') {
        transform: translate(15px, var(--hero-subtitle-tY));
    }
}

@keyframes reveal-subtitle {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(15px, var(--hero-subtitle-tY));
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, var(--hero-subtitle-tY));
    }
}

.hero.is-visible .hero__subtitle {
    animation: 0.4s reveal-subtitle 1.35s linear forwards;
}

.hero__title-is {
    font-size: 2.25rem;

    @include breakpoint('l') {
        font-size: 3rem;
    }
}

.hero__title-up {
    margin-left: 15px;
    font-size: 4.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, var(--hero-title-up-tY));
    color: #cc5500;
    
    @include breakpoint('l') {
        font-size: 8.5rem;
        transform: translate(0, var(--hero-title-up-tY));
    }
}

.hero.is-visible .hero__title-up {
    animation: 0.7s moveOnUp 1.6s linear forwards;
}
@keyframes moveOnUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, var(--hero-title-up-tY))
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

span[class^="hero__title-"] {
    will-change: opacity;
}

.cheese {
    display: none;

    &.is-visible {
        display: inline-block; // block of cheese, get it?
    }
}


.section {
    height: 500px;
    width: 100%;
    padding: 30px 15px 30px 30px;
    transition: background-color 1.5s ease-in-out;
    position: relative;
    // note: overflow visible only works when it's set on both x and y, otw sets to auto

    @include breakpoint('m') {
        padding: 30px 100px;
    }

    * {
        position: relative;
        // note: need position relative b/c z-index issues
        z-index: 1;
    }
}

.section.is-visible {
    // background-color: $slate;

    .section__title {
        opacity: 1;
        transform: translateX(30px);
        transform-origin: center;

        &:hover {
            transform: translateX(30px) scale(1.5);
            cursor: pointer;
        }
    }

    &.section-reverse .section__title {
        transform: translateX(-30px);

        &:hover {
            transform: translateX(-30px) scale(1.5);
            cursor: pointer;
        }
    }
}

.section__title {
    display: block;
    font-size: 2.3rem;
    opacity: 0;
    z-index: 2;
    transform: translateX(-5px);
    transition: 0.6s opacity ease-in-out 0.15s, 0.4s transform linear 0.35s, 0.35s scale cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.45s;

    @include breakpoint('l') {
        font-size: 4.75rem;
    }

   /*  &::hover {
        transform: scale(1.1);
    } */
}

.section__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before, &::after {
        display: block;
        position: absolute;
        content: '';
        height: 7%;
        min-width: 0;
        width: auto;
        background-color: teal;
        opacity: 0.225;
        transition: min-width 0.7s linear 0.2s;
    }

    &::before {
        top: 7%;
        left: 0;
    }

    &::after {
        top: 20%;
        left: 0;
    }
}

.section-intro {
    height: auto;
    width: 100%;
    
    .section__content {
        margin: 50px 0;

        @include breakpoint('m') {
            margin: 75px 0;
        }
    }
}

.section-costa-rica .section__background {
    &::before, &::after {
        transform: scale(1.2) rotateZ(-15deg);
        transform-style: preserve-3d;
    }
}

.section-costa-rica.is-visible .section__background {
    $colors: red, blue;
    &::before, &::after {
        transform: scale(1.2) rotateZ(-15deg);
    }
    
    &::before {
        background-color: red;
    }

    &::after {
        background-color: blue;
    }

    .balloon {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                $index: random(list.length($colors));
                color: darken(list.nth($colors, $index), 5%);
                mix-blend-mode: hue;
            }
        }
    }
}

.section-switzerland .section__background {
    &::before, &::after {
        transform: scale(1.1) rotateZ(5deg);
    }
}
.section-switzerland.is-visible .section__background {
    $colors: red, $slate;
    &::before, &::after {
        transform: scale(1.1) rotateZ(5deg);
    }

    &::before {
        background-color: white;
        border-top: 10px inset red;
        border-bottom: 10px inset red;
    }

    &::after {
        background-color: white;
        border-top: 10px inset red;
        border-bottom: 10px inset red;
    }

    .balloon {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                $index: random(list.length($colors));
                color: darken(list.nth($colors, $index), 5%);
                mix-blend-mode: hue;
            }
        }
    }
}

.section-canada .section__background {
    &::before, &::after {
        transform: scaleX(-1.3) rotateZ(10deg);
    }
}

.section-canada.is-visible .section__background {
    $colors: red, $slate;
    &::before, &::after {
        transform: scaleX(-1.3) rotateZ(10deg);
    }
    
    &::before {
        background-color: red;
    }

    &::after {
        background-color: red;
    }

    .balloon {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                $index: random(list.length($colors));
                color: darken(list.nth($colors, $index), 5%);
                mix-blend-mode: hue;
            }
        }
    }
}

.section-vietnam.is-visible .section__background {
    $colors: red, yellow;

    &::before {
        background-color: yellow;
    }

    &::after {
        background-color: red
    }

    .balloon {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                $index: random(list.length($colors));
                color: darken(list.nth($colors, $index), 5%);
                mix-blend-mode: hue;
            }
        }
    }
}

.section-new-zealand .section__background {
    &::before, &::after {
        transform: scale(1.2) rotateZ(-6deg);
    }

}

.section-new-zealand.is-visible .section__background {
    $colors: blue, red;
    &::before, &::after {
        transform: scale(1.2) rotateZ(-6deg);
    }
    
    &::before {
        background-color: blue
    }

    &::after {
        background-color: red;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            $index: random(list.length($colors));
            color: darken(list.nth($colors, $index), 7.5%);
            mix-blend-mode: hue;
        }
    }
}

.section.is-visible {
    .section__background {
        &::before, &::after {
            min-width: 100%;
            max-width: 100%;
        }

        .balloon {
            text-shadow: 2px 2px 2px black;
        }
    }
}

@mixin balloonFloat($degree) {
    @keyframes float-#{$degree}-degrees {
        0% {
            transform: translateY(0px) rotate($degree + deg);
        }
    
        25% {
            transform: translateY(-2px) rotate($degree + deg);
        }
    
        50% {
            transform: translateY(0px) rotate($degree + deg);
        }
    
        75%  {
            transform: translateY(2px) rotate($degree + deg);
        }
    
        100% {
            transform: translateY(0) rotate($degree + deg);
        }
    }
}

.balloon {
    color: darken($slate, 10%);
    position: absolute;
    opacity: 0.1;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    z-index: 1;
    transition: 0.5s color ease-in-out;

    @include breakpoint('l') {
        font-size: 4.75rem;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            $randomDeg: math.floor(math.random() * 270);
            // was too hard to read words upside down lols
            @include balloonFloat($randomDeg);
            $animation-name: float-#{$randomDeg}-degrees;
            animation: float-#{$randomDeg}-degrees 2s linear infinite;
            // note: choppy animation was caused by having an ease timing functinon
        }
    }

    &:hover {
        cursor: auto;
    }
}

.section-reverse {
    padding: 30px 30px 30px 15px;

    @include breakpoint('m') {
        padding: 30px 100px;
    }
    .section__content {
        align-items: flex-end;
    }

    .section__background {
        left: auto;
        right: 0;
        &::before {
            left: auto;
            right: 0;
        }
    
        &::after {
            left: auto;
            right: 0;
        }
    }
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.section-pachinko {
    height: 680px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pachinko-stall {
    $background-color: rgba(lighten(darkgoldenrod, 25%), 0.5);
    background: $background-color;
    margin: 60px auto 0 auto;
}

#pachinko {
    margin-top: 30px;
    background: white;
    border: 20px solid rgb(225, 0, 255);
    transform: translate(40px, -45px);

    &:hover {
        cursor: grab;
    }
}

.container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0.4;
    transition: 0.4s opacity cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

// .section.is-full-view {
//     .container {
//         opacity: 1;
//     }
// }

.section-reverse .container {
    flex-direction: row-reverse;
    text-align: right;

    .card {
        &:after {
            left: auto;
            right: -15%;
            top: -8%;
            height: 115%;
            border-color: #cc5500;
        }

        .image {
            background-color: teal;
            border: 10px solid teal;
            
            @include breakpoint('m') {
                box-shadow: 9px 12px 12px rgba(#cc5500, 35%);
                background-color: transparent;
                border: none;
            }
        }
    }
    .blurb {
        span {
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

.card {
    display: inline-flex;
    width: 30%;
    padding: 10px;
    position: relative;
    transform: translate(0, 30px);

    @include breakpoint('m') {
        width: 40%;
    }

    &:after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: 10px solid teal;
        position: absolute;
        top: 10%;
        left: -15%;
    }

    .image {
        height: 200px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-color: orange;
        border: 10px solid orange;
        transition: 0.8s transform cubic-bezier(0.215, 0.610, 0.355, 1);    
        
        @include breakpoint('m') {
            height: 350px;
            box-shadow: -11px 13px 19px rgba(rgb(75, 77, 77), 35%);
            border: none;
            background-color: transparent;
            width: 100%;
            background-size: cover;
        }
    }

    &:hover {
        cursor: pointer;
        .image {
            transform: scale(1.125)
        }
    }
}


.blurb {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    font-family: 'robotothin', 'sans-serif', 'serif';
    transform: translate(0, -30px);
    z-index: 2;

    @include breakpoint('m') {
        width: 60%;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    p {
        font-size: 1.4rem;
    }
    span {
        display: block;
        font-weight: 700;
        margin-left: 25px;
        margin-bottom: 15px;
    }
}

.section-pachinko.is-visible {
    .up {
        opacity: 1;
        visibility: visible;
    }
}

.up {
    position: fixed;
    opacity: 0;
    left: 30px;
    bottom: 60px;
    visibility: hidden;
    transition: 0.7s all ease-in-out;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 1;

    @include breakpoint('m') {
        width: 100px;
    }
}

.sidenav__item {

    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
            transform: translate(20px, 0);
        }
    }
}

.tooltip {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
}